<div style="text-align: center;">
	<h1>Deven Coreas</h1>
	<img height="450" width="300" src="~/Images/IMG_20241128_133233 (1).jpg" alt="Deven IMG" />
	<p>My name is Deven Coreas. My major is Computer Science and I am graduating this quarter. I'm into gaming and anime.</p>

	<h2>Andrew Jacoboski</h2>
	<img style="max-width: 50%; height: auto;" src="https://files.elfsightcdn.com/eafe4a4d-3436-495d-b748-5bdce62d911d/d070448d-c49d-489f-9a21-9851014798d7/AndrewJ_A1.jpg" alt="Andrew IMG" />
	<p>Hi my name is Andrew Jacoboski. My major is Game Development. I enjoy gaming and creating content on Youtube and Twitch</p>
</div>