@{
    ViewData["Title"] = "Contact Us";
}
<h1><strong>Contact Us</strong></h1>
<h2>Use this page to contact us about any issues or complaints</h2>
<p>Note: This page does not actually work so if you use it it is a huge waste of your time</p>

<h3>Email</h3>
<input type="text" placeholder="example@gmail.com" />
<button type="submit">Submit</button>
<br>
<img style="max-width: 80%; height: auto;" src="https://rivalskins.com/wp-content/uploads/marvel-assets/videos/mvp/last-frame/mvp_1170.webp" alt="jeff the land shark" />