@{
        ViewData["Title"] = "Team 9: Latino Heat";
}

<h1><strong>.NET</strong></h1>
<img src="~/Images/tn_microsoftnet.png" alt="Description"/>

<body style="text-align: center;">
<h2>What is .NET?</h2>
	<p class="fs-3" style="font-family:'Comic Sans MS'; color:crimson">.NET is an open-source application platform supported by Microsoft. .NET utilizes C#, HTML, JS, CSS, and many more languages. It's a reliable and consistent soution stack which has a solid real world presence still being used to this day.'</p>

<h2>Why .NET?</h2>
<p class="fs-3" style="font-family:'Comic Sans MS'; color:crimson">We chose .NET because it was something that Deven is very familiar with and something he found to be very fun to work on in his experiences. .NET is also fairly simple to learn and adapt to quickly (Deven's experiences). Andrew also used .NET before so it was a solid Stack to choose due to our experiences with it which are mostly positive. .NET is also consistent, flexible, and can be used for many services (Web, App, act.) with being able to be used on Windows, Linux, and maczOS. It is also very consistent and reliable. That is the most important reason on why we are using it.</p>
</body>