@{
        ViewData["Title"] = "Team 9: Latino Heat";
}

<h1><strong>.NET</strong></h1>
<img src="~/Images/tn_microsoftnet.png" alt="Description"/>

<body style="text-align: center;">
<h2>What is .NET?</h2>
<p></p>

<h2>Why .NET?</h2>
<p>We chose .NET because it was something that Deven is very familiar with and something he found to be very fun to work on in his experiences. .NET is also fairly simple to leern and adapt to quickly (Deven's experiences). Andrew also used .NET before so it was a solid Stack to choose due to our experiences with it which are mostly positive. .NET is also consistent and in the real world consistency is the most important.</p>
</body>